body {background-color: #ffbd8a}
textarea {  height: 25vh;
  display: inline-block;
  font-family: Courier, sans-serif;
  font-size: 14px;
  width: 32vw;
  background-color: #b2dbd8}
iframe {  bottom: 0;
  position: relative;
  width: 100%;
 height: 70vh;
  background-color: #b58aff}





