textarea {
   background-color:#e1b4ed;
   color: aqua;
   float: top;
   min-height: 250px;
   margin: auto;
   height: 25vh;
   display: inline-block;
   font-family: Courier, sans-serif;
   font-size: 14px;
   width: 33%;
   width: 32vw;
 }
 iframe {
   bottom: 0;
   position: relative;
   width: 100%;
   height: 35em;
  height: 70vh;
   background-color: #fdfaff;
 }





